.card {
    max-width: 255px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include tablet {
        max-width: 330px;
    }

    @include mobile {
        max-width: 240px;
    }
    
    @include mobileXS {
        max-width: unset;
        width: 100%;
    }
}

.card__img {
}

.card__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    gap: 8px;
}

.card__title {
    font-size: 30px;
    font-weight: 400;
    color: #666666;

    @include mobile {
        font-size: 24px;
    }
}

.card__print {
    font-size: 14px;
    color: #B5B5BD;
}

.card__descr {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.7;
    color: #85859B;

    p+p {
        margin-top: 0.5em;
    }

    @include mobile {
        font-size: 16px;
    }
}

a.card__read-more {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    color: #7875FE;

    &:hover {
        color: #4946B4;
    }
}