.header {
    position: relative;
    padding: 28px 0;
    border-bottom: 1px solid #DDDDDD;

    @include tablet {
        padding: 11px 0 19px;

        &::after {
            content: "";
            position: absolute;
            top: 44px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #DDDDDD;
        }
    }

    @include mobileXS {
        padding-bottom: 15px;
    }
}

.header__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include tablet {
        gap: 30px;
    }
}

.header__logo {
    margin-right: auto;

    @include mobileXS {
        width: 100%;
        text-align: center;
    }
}

.header__nav {}

.header__btns {
    display: flex;
    gap: 30px;
    color: #4C5866;

    @include tablet {
        order: 2;
    }

    @include mobileXS {
        order: 4;
        flex-grow: 1;
        justify-content: flex-end;
    }
}

.header__search {

    &:hover {
        color: #7875FE;
    }

    &:active {
        color: #4946B4;
    }
}

.header__login {

    &:hover {
        color: #7875FE;
    }

    &:active {
        color: #4946B4;
    }
}